
.left-navbar li {
   list-style: none;
}

.left-navbar li:not(a) {
  border-bottom: 1px solid black;

}

.row:first-child {
  background-color: ;
}

.container {
  border: 1px solid red;
}

.col-md-* {
  border: ;
}
